.footer {
    background: #6278F7;
    color: #FFF;
    padding: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-image: url("/public/img/fundo.png");
    max-width: 100%;
}

.footer ul li {
    display: inline-block;
    margin-right: 32px;
}

.footer ul li:last-child {
    margin-right: 0;

}

.footer p {
    font-weight: bold;
    padding-left: 50px;
}
